/* 
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
 
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-left {
    float: right;
  }
 
    .header-left {
      float: none;
    }



     */

.header {
  height: 8vh;
  background-color: rgba(23, 31, 31, 0.705);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: white;
  margin: 1rem;
  text-decoration: none;
  font-size: 20px;
/*   
  background-color: #24a0ed;
  padding: 8px;
  border-radius: 8px; */
}

.link:hover {
  color: orange;
}

/* NavLink has active class */
.header .active {
  color: yellow;
}
